{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	{% load bootstrap3 %}
  	{% bootstrap_css %}
  	{% bootstrap_javascript %}
  	{% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/override.css' %}">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>

  </head>

<body>

<div class="page-header">
  <div class="jumbotron text-center">
    <h1>Hymn Translation Project</h1>
    <p>"How is it that each of us hears them in our native language?<br>
    We hear them declaring the wonders of God in our own tongues!"<br>
    <small>Acts 2:8,12</small></p>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="index">Hymn Index</a></li>
        <li><a href="subjects">By Subject</a></li>
        <li><a href="countries">By Country of Origin</a></li>
        <li><a href="#">Search</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="content-container">
  {% block content %}
  {% endblock %}
</div>

<!--<footer class="footer">
  <div class="container">
    <span class="text-muted">
      The Hymn Translation Project
      {% now 'Y' %}. 
      <br>
      All content attributable to listed authors and composers. <br>
      Translation are original content unless otherwise marked.
    </span>
  </div>
</footer>-->

</body>
</html>