{% extends 'hymns/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    
    <div style="text-align:center">
    <h4>
    -
  	{% for country in countries %}
  		<a href="#{{ country }}">{{ country }}</a> -
  	{% endfor %}
  	</h4>
  	</div>

  	{% for country in countries %}
  		<a name="{{ country }}"><h3>{{ country }}</h3></a>

  		{% for coun, hymn_list in hymns_by_country.items %}
  			{% if coun == country %}
  				{% for hymn in hymn_list %}

  					{{ hymn.en_title }} (<span class="tune">{{ hymn.tune_name }}</span>)
  					<br>

  				{% endfor %}
  			{% endif %}
  		{% endfor %}

  	{% endfor %}


  </div>
</div>

{% endblock %}