{% extends 'hymns/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    
    <div style="text-align:center">
    <h4>
    -
  	{% for subject in subjects %}
  		<a href="#{{ subject }}">{{ subject }}</a> -
  	{% endfor %}
  	</h4>
  	</div>

  	{% for subject in subjects %}
  		<a name="{{ subject }}"><h3>{{ subject }}</h3></a>

  		{% for subj, hymn_list in hymns_by_subject.items %}
  			{% if subj == subject %}
  				{% for hymn in hymn_list %}

  					{{ hymn.en_title }} (<span class="tune">{{ hymn.tune_name }}</span>)
  					<br>

  				{% endfor %}
  			{% endif %}
  		{% endfor %}

  	{% endfor %}


  </div>
</div>

{% endblock %}