@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.* {
	font-family: 'Source Sans Pro', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}

.navbar {

}

.jumbotron {
	margin:0;
	font-family: 'Crimson Text', serif;
}

.col-sm-5 {
	padding-left:5%;
	padding-right:5%;
}

.row {
	padding-bottom:2%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}