@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Libre+Baskerville');

.* {
	font-family: 'Source Sans Pro', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
}

.tune {
  font-variant: small-caps;
}

.navbar {
  margin:0;
}

.jumbotron {
	margin:0;
  padding:15px;
	font-family: 'EB Garamond', serif;
  color: #ffffff;
  text-shadow: 3px 1px 2px #000000;
  background-image: url('../img/hymnal.jpg');
  background-size: cover;
}

.page-header {
  margin:0;
}

.content-container {

}

.container-fluid {
  padding-left:15%;
  padding-right:15%;
}

.col-sm-5 {
	padding-left:5%;
	padding-right:5%;
}

.row {
  padding-top:5%;
	padding-bottom:2%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;

  height: 0;
  overflow: hidden;
}
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}